<!DOCTYPE html>
<html>
<head>
  <title>CalLinker</title>
  <%= stylesheet_link_tag    "cal_linker/application", media: "all" %>
  <%= javascript_include_tag "cal_linker/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
